@charset "UTF-8";
.swiper-container {
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  overflow: hidden;
}
.swiper-slide.slider1 {
  background-image: url("../img/fundo4.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide.slider2 {
  background-image: url("../img/fundo3.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide.slider3 {
  background-image: url("../img/fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide.slider4 {
  background-image: url("../img/fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-size: 24px;
  height: 100%;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50% !important;
  transform: translateX(-50%);
  font-size: 24px;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-width: 4px;
  color: #fff;
  border-color: #fff; /* Cor da borda */
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-width: 4px;
  color: #fff;
  border-color: #fff; /* Cor da borda */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #EE2559 !important;
  width: 43px;
  height: 9px;
  border-radius: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}

.scrollable-content {
  overflow-y: scroll;
  height: 100%;
}

.swiper-scrollbar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 4px;
  height: calc(100% - 20px);
  background-color: #ccc;
  border-radius: 2px;
}

.wiper-container-onePage {
  width: 100%;
  height: 100%;
}
.wiper-container-onePage .wrapper-onepage .slide-onepage {
  background-image: url("../data/img/bg-slider") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column !important;
}

html {
  min-height: 100vw;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.corBranca {
  background-color: #fff !important;
}

.row {
  margin-top: 30px !important;
}

.bloco {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
}
.bloco.backgroundimg {
  background-image: url("../img/fundo2.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.bloco.bg2 {
  background-color: #fff;
}
.bloco.bgCortado {
  background: linear-gradient(to bottom, white 30%, #F28E30 30%) !important;
}
.bloco.bgCortado2 {
  background: linear-gradient(to bottom, white 30%, #21A8A4 30%) !important;
}
.bloco.bgCortado3 {
  background: linear-gradient(to bottom, white 30%, #0E284B 30%) !important;
}
.bloco.border {
  position: relative;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.bloco.border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 90%;
  background-color: #F28E30;
}

.cor1 {
  color: #fff;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.conteudo01 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: flex-end;
}
.conteudo01 .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.conteudo01 .intro .circle-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #196295;
  width: 446px;
  height: 446px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}
.conteudo01 .intro .circle-1 .texto-intro {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.1em;
  text-align: center;
  position: absolute;
}
.conteudo01 .intro .circle-1 ::before {
  content: "";
  width: 449px;
  height: 449px;
  background-image: url("../img/Elipse.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: -79%;
  left: -23px;
}
.conteudo01 .intro .circle-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EE2559;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  position: relative;
}
.conteudo01 .intro .circle-2 ::after {
  content: "";
  width: 228px;
  height: 228px;
  background-image: url("../img/Elipse2.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: -64%;
  left: -24px;
  z-index: -1;
}
.conteudo01 .intro .circle-2 .texto-intro {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  position: absolute;
}
.conteudo01 .intro2 img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 55%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}
.conteudo01 .intro2 img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/Elipse.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: -79%;
  left: -23px;
}

.box-intro {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.box-intro .titulo {
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  color: #21A8A4;
  position: relative;
}
.box-intro .titulo::before {
  content: "";
  position: absolute;
  width: 22%;
  background-color: #21A8A4;
  height: 3px;
  bottom: -2px;
  left: 39%;
  display: inline-block;
}
.box-intro .descricao {
  font-size: 0.7em;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.banner-lic {
  background-image: url("../img/banner-intro.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 166px;
  padding-top: 22px;
  padding-left: 42px;
  margin-bottom: 20px;
}
.banner-lic .titulo-2 {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
}
.banner-lic .descricao-2 {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.titulo-banner {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: #F28E30;
  width: 509px;
  height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.descricao-3 {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-top: 20px;
}

.box-itens-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.box-itens-icons img {
  margin-right: 30px;
}
.box-itens-icons .box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #fff solid 3px;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.box-itens-icons .box-item .titulo-item {
  color: #21A8A4;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}
.box-itens-icons .box-item .descricao-item {
  color: #21A8A4;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
}

.titulo-final {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.grupo-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grupo-btn .btn {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  border: #fff solid 2px;
  border-radius: 50px;
  width: 178px;
  height: 50px;
}

.titulo-onepage {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.titulo-onepage.intro {
  clip-path: polygon(28.74% 25%, 78.15% 25%, 75% 75%, 25% 75%);
  clip-path: inset(10px round 80px 20px 80px 10px);
  background-color: #21A8A4;
  padding: 50px;
  border-radius: 20px;
}
.titulo-onepage.azul {
  color: #0E284B;
}
.titulo-onepage.azul2 {
  color: #21A8A4;
}
.titulo-onepage.azul3 {
  color: #21A8A4;
}

.titulo-onepage-padrao {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.titulo-onepage-padrao.intro {
  clip-path: polygon(28.74% 25%, 78.15% 25%, 75% 75%, 25% 75%);
  clip-path: inset(10px round 80px 20px 80px 10px);
  background-color: #21A8A4;
  padding: 50px;
  border-radius: 20px;
  position: relative;
}
.titulo-onepage-padrao.azul {
  color: #0E284B;
}
.titulo-onepage-padrao.azul2 {
  color: #21A8A4;
}
.titulo-onepage-padrao.azul3 {
  color: #21A8A4;
}

.descricao-onepage {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
}
.descricao-onepage.preto {
  color: #000;
}
.descricao-onepage.azul {
  color: #0E284B;
}
.descricao-onepage.bold {
  font-weight: bold;
}
.descricao-onepage.no-margin {
  margin: 0 auto;
}

.img-info {
  background-image: url("../data/img/bg-cortado.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.img-info .descricao-onepage {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
}
.img-info .descricao-onepage.preto {
  color: #000;
}
.img-info .descricao-onepage.azul {
  color: #0E284B;
  font-weight: bold;
}
.img-info .descricao-fonte {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
}
.img-info .descricao-fonte.preto {
  color: #000;
}
.img-info .descricao-fonte.azul {
  color: #0E284B;
  font-weight: bold;
}

.box-text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-text-icon img {
  margin-right: 50px;
}
.box-text-icon .box {
  border: #21A8A4 solid 3px;
  padding: 20px;
  border-radius: 20px;
}
.box-text-icon .box .titulo-box {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0E284B;
}
.box-text-icon .box .descricao-box {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0E284B;
  margin: 0 auto;
}

.box-destaque {
  position: relative;
}
.box-destaque .texto-destaque {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-weight: medium !important;
  font-size: 1em;
  color: #205611;
}

.destaque2-onepage {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
}
.destaque2-onepage.preto {
  color: #000;
}
.destaque2-onepage.branco {
  color: #fff;
}
.destaque2-onepage.azul {
  color: #0E284B;
}
.destaque2-onepage.fundoAzul {
  clip-path: polygon(28.74% 25%, 78.15% 25%, 75% 75%, 25% 75%);
  clip-path: inset(10px round 80px 20px 80px 10px);
  background-color: #196295;
  padding: 50px;
  border-radius: 20px;
}

.foto-container {
  position: relative;
}
.foto-container::after {
  position: absolute;
  content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime voluptatem dolores placeat incidunt accusamus sequi";
  color: #fff;
  padding: 30px;
  background-image: url("../data/img/bg-before.png");
  background-repeat: no-repeat;
  top: -33%;
  left: 97%;
  width: 300px;
  height: 175px;
}

@media screen and (max-width: 900px) {
  .conteudo01 {
    display: block;
  }
  .conteudo01 .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  .conteudo01 .intro .circle-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #196295;
    width: 446px;
    height: 446px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
  }
  .conteudo01 .intro .circle-1 .texto-intro {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.1em;
    text-align: center;
    position: absolute;
  }
  .conteudo01 .intro .circle-1 ::before {
    content: "";
    width: 449px;
    height: 449px;
    background-image: url("../img/Elipse.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: -79%;
    left: -23px;
  }
  .conteudo01 .intro .circle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE2559;
    width: 228px;
    height: 228px;
    border-radius: 50%;
    position: relative;
  }
  .conteudo01 .intro .circle-2 ::after {
    content: "";
    width: 228px;
    height: 228px;
    background-image: url("../img/Elipse2.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: -64%;
    left: -24px;
    z-index: -1;
  }
  .conteudo01 .intro .circle-2 .texto-intro {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    position: absolute;
  }
  .conteudo01 .intro2 {
    display: none;
  }
  .box-intro {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
  .box-intro .titulo {
    font-size: 0.8em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: #21A8A4;
    position: relative;
  }
  .box-intro .titulo::before {
    content: "";
    position: absolute;
    width: 22%;
    background-color: #21A8A4;
    height: 3px;
    bottom: -2px;
    left: 39%;
    display: inline-block;
  }
  .box-intro .descricao {
    font-size: 0.5em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .banner-lic {
    background-image: url(../img/banner-intro.png);
    background-repeat: no-repeat;
    width: 295px;
    height: 111px;
    padding-top: 22px;
    padding-left: 42px;
    margin-bottom: 20px;
  }
  .banner-lic .titulo-2 {
    color: #fff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.7em;
  }
  .banner-lic .descricao-2 {
    color: #fff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.5em;
  }
  .titulo-banner {
    color: #fff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    margin-bottom: 20px;
    background-color: #F28E30;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: auto;
  }
  .descricao-3 {
    color: #fff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 20px;
  }
  .box-itens-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .box-itens-icons img {
    margin-bottom: 30px;
  }
  .box-itens-icons .box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #fff solid 3px;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 0.8em;
  }
  .box-itens-icons .box-item .titulo-item {
    color: #21A8A4;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
  }
  .box-itens-icons .box-item .descricao-item {
    color: #21A8A4;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    text-align: center;
  }
  .titulo-final {
    color: #fff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 20px;
  }
  .descricao-mobile {
    font-size: 0.8em;
  }
  .titulo-onepage {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
  .descricao-onepage {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fff;
  }
  .mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .box-text-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-text-icon img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .foto-container {
    position: relative;
  }
  .foto-container::after {
    position: absolute;
    content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime voluptatem dolores placeat incidunt accusamus sequi";
    color: #fff;
    padding: 30px;
    background-image: url(../data/img/bg-before.png);
    background-repeat: no-repeat;
    top: -66%;
    left: 0%;
    width: 300px;
    height: 175px;
  }
}
.accordion .accordion-item {
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgba(40, 118, 48, 0.5);
  color: #001C3A;
}
.accordion .accordion-item .accordion-header .accordion-button {
  background-color: #5FB648;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
}
.accordion .accordion-item .accordion-header .accordion-button:focus, .accordion .accordion-item .accordion-header .accordion-button.active {
  /* Cor de seleção personalizada */
  background-color: #28763A;
}

.accordeon-nativo {
  margin-bottom: 40px;
  border-bottom: orange 4px solid;
  padding: 20px;
}
.accordeon-nativo .accordeon-sumario {
  display: flex;
  align-items: center;
}
.accordeon-nativo .accordeon-sumario .img-sumario {
  margin-right: 20px;
}
.accordeon-nativo .accordeon-sumario .titulo-sumario {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #001C3A;
}
.accordeon-nativo .accordeon-item {
  margin-top: 20px;
  padding: 10px;
}
.accordeon-nativo[open] {
  /* Estilos para o estado ativo */
  background-color: #1CA3C4;
  color: #0E284B;
}

.carousel-inner {
  background-image: url("../data/img/bg-slider.png");
  background-repeat: repeat;
  background-size: cover;
}
.carousel-inner .carousel-item .conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 130px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}
.carousel-inner .carousel-item .conteudo .tag-slider {
  width: 70px;
  height: 70px;
  background-color: #FDB338;
  border-radius: 50%;
  position: absolute;
  top: 0;
  color: #fff;
}
.carousel-inner .carousel-item .conteudo .tag-slider p {
  color: #fff;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
}
.carousel-inner .carousel-item .conteudo img {
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .carousel-inner {
    background-color: #08B49C;
    border-radius: 20px;
    background-repeat: repeat;
    background-size: cover;
  }
  .carousel-inner .carousel-item .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    padding: 50px;
  }
  .carousel-inner .carousel-item .conteudo .tag-slider {
    width: 70px;
    height: 70px;
    background-color: #FDB338;
    border-radius: 50%;
    position: absolute;
    top: 0;
    color: #fff;
  }
  .carousel-inner .carousel-item .conteudo .tag-slider p {
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
  }
  .carousel-inner .carousel-item .conteudo img {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
